@model AngularCoreEmarketing.ViewModels.EditViewModel
@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">Edit Product <i class="fa fa-edit"></i></h2>
<hr />
<form asp-action="Edit" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="container" ng-controller="postProductController">
        <div class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Prod.ProductName" class="badge mt-1 text-right col-3 col-md-2"></label>
                <div class="col-9">
                    <input asp-for="Prod.ProductName" class="form-control" />
                    <span asp-validation-for="Prod.ProductName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Prod.DeliveryCharge" class="badge mt-1 text-right col-md-2 col-3"></label>
                <div class="col-3 col-md-2">
                    <input asp-for="Prod.DeliveryCharge" class="form-control" />
                    <span asp-validation-for="Prod.DeliveryCharge" class="text-danger"></span>
                </div>
                <label asp-for="Prod.ProductPrice" class="badge mt-1 text-right col-2 col-md-1"></label>
                <div class="col-4 col-md-2">
                    <input asp-for="Prod.ProductPrice" class="form-control" />
                    <span asp-validation-for="Prod.ProductPrice" class="text-danger"></span>
                </div>
            </div>


            @if (Model.Prod.ProductImage == "No-Image-Exist")
            {
                <div class="form-group row">
                    <label class="badge text-right mt-1 col-md-2 col-3">Parent Image:</label>
                    <div class="col-6">
                        <input type="file" id="userImage" name="ProductImage" class="form-control" accept="image/*" />
                    </div>
                </div>
            }
            else
            {
                <div id="imagUploadInEdit" class="row">
                    <label asp-for="Prod.ProductImage" class="badge mt-1 text-right col-4"></label>
                    <div class="col-6 col-md-4 px-0">
                        <img src="/@Model.Prod.ProductImage" class="w-100 h-100" />
                    </div>
                </div>
                <div class="row my-2">
                    <a href="/Admin/parentImageRemove/@Model.Prod.Id" class="btn btn-info offset-5">Change Parent Image <i class="fa fa-user-edit"></i></a>
                </div>
            }
            <br />
            <div class="row offset-2 mb-2" id="seconderyImages">
                @for (int item = 1; item < Model.Prod.ImageList.Count; item++)
                {
                if (@Model.Prod.ImageList[item].ImagePath != Model.Prod.ProductImage) { 

                    <div class="col-3 col-md-2 m-1 p-1 border">
                        <div>
                            <img src="/@Model.Prod.ImageList[item].ImagePath" height="150" class="w-100" id="image_@item" />
                        </div>
                        <div class="my-2 text-center">Image @item/@Model.Prod.ImageList.Count</div>
                        <div class="row justify-content-center">
                            <a class="btn btn-outline-danger btn-sm" href="/Admin/RemovPic?id=@Model.Prod.ImageList[item].Id&rt=@Model.Prod.ImageList[item].ProductDetailsId">Delete</a>
                        </div>
                    </div>
                    }
                }
                <button type="button" class="btn btn-dark col-3 col-md-2 m-1 p-1 btn-more-images" onclick='addImage()'>Add more Images <i class="fa fa-plus-circle ml-1"></i></button>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="Prod.ProductDescription" class="badge mt-1 text-right col-2"></label>
                <div class="col-9 col-md-7">
                    <textarea asp-for="Prod.ProductDescription"></textarea>
                    <span asp-validation-for="Prod.ProductDescription" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Prod.ProductPostDate" class="badge mt-1 text-right col-md-2 col-2"></label>
                <div class="col-7 col-md-4">
                    <input asp-for="Prod.ProductPostDate" class="form-control" />
                    <span asp-validation-for="Prod.ProductPostDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3  badge mt-1 text-right">
                    <label asp-for="Prod.ProductStock"></label> <br />(Optional)<br />Auto-Corrected
                </div>
                <div class="col-4">
                    <input asp-for="Prod.ProductStock" class="form-control" />
                    <span asp-validation-for="Prod.ProductStock" class="text-danger"></span>
                </div>
                <label asp-for="Prod.ProductDiscount" class="badge mt-1 text-right col-2"></label>
                <div class="col-3">
                    <input asp-for="Prod.ProductDiscount" class="form-control" />
                    <span asp-validation-for="Prod.ProductDiscount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group  my-3 p-2 row offset-2">
                <div class="bg-light text-info px-4 py-1">
                    <b class="badge mt-1 badge-info">Important:</b>&emsp; Make quantity 0 if you want to remove any size
                </div>
            </div>

            @for (int i = 0; i < Model.Prod.Sizes.Count; i++)
            {
                var SizeCount = i + 1;
                <div class="form-group row">
                    <label class="col-4 col-md-2 mt-2 text-right"><span class="badge mt-1 text-right px-2 py-1">Size: @SizeCount/@Model.Prod.Sizes.Count</span></label>
                    <div class="col-8 col-md-2">
                        <input type="hidden" asp-for="Prod.Sizes[i].AllSizes" />
                        <p class="form-control">@Model.Prod.Sizes[i].AllSizes</p>
                        <input type="hidden" asp-for="Prod.Sizes[i].Id" />
                    </div>
                    <label class="badge mt-1 text-right col-4 col-md-2">Change Size</label>
                    <div class="col-3 col-md-2">
                        <select class="form-control" ng-model="changeSizeValue_@i" ng-change="ChangSize(changeSizeValue_@i,@i)">
                            <option value="">@Model.Prod.Sizes[i].AllSizes</option>
                            <option ng-repeat="size in listOfShoesSizes">{{size}}</option>
                        </select>
                    </div>
                    <label class="badge mt-1 text-right col-2 col-md-2">Quantity</label>
                    <div class="col-3 col-md-2">
                        <input asp-for="Prod.Sizes[i].Quantity" class="form-control" />
                        <span asp-validation-for="Prod.Sizes[i].Quantity" class="text-danger"></span>
                    </div>
                </div>
            }

            <div class="form-group row" id="AddsizeButton">
                <div class="offset-4 offset-md-2">
                    <button class="btn btn-info" ng-click="addSize(@Model.Prod.Sizes.Count)">Add More Sizes <i class="ml-1 fa fa-plus-circle"></i></button>
                </div>
            </div>
            <div class="bgandColor rounded offset-2 py-2" id="AddSize" style="display:none">
                <div class="row">
                    <div class="col-12 text-center h4">Add New Sizes To Item</div>
                    <label class="col-2 badge mt-3 text-right">Select Size</label>
                    <div class="col-6 my-2">
                        <select class="form-control" id="Sizelist" ng-model="addNewSizeValue" ng-change="AddSizeandQuantityEdit(addNewSizeValue, @Model.Prod.Sizes.Count)">
                            <option value="">--more Sizes--</option>
                            <option ng-repeat="size in listOfSizes">{{size}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row my-2">
                <label class="badge mt-1 text-right col-2">Category</label>
                <div class="col-md-3">
                    <select asp-items="ViewBag.CatagoryMajor as SelectList" ng-model="majorId" ng-change="loadChildCatagory(majorId)" class="form-control">
                        <option value="">--@ViewBag.CurrentMajorCategory--</option>
                    </select>
                </div>
                <div class="col-md-3 my-1 my-md-0">
                    <select ng-model="majorSubId" ng-change="loadGrandChildCatagory(majorSubId)" class="form-control">
                        <option value="">-- @ViewBag.CurrentChildCategory--</option>
                        <option value="{{row.id}}" ng-repeat="row in majorSubList">{{row.majorSubName}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select ng-model="changeCatagory" ng-change="ChangeCurrentCatagory(changeCatagory)" class="form-control">
                        <option value="">--@ViewBag.CurrentGrandChildCategory--</option>
                        <option value="{{x.id}}" ng-repeat="x in catSpecficList">{{x.catagoriesName}}</option>
                    </select>
                </div>
            </div>
            <input type="hidden" asp-for="Prod.Id" />
            <input type="hidden" asp-for="Prod.CatagoriesSpecificId" />
            <input type="hidden" asp-for="Prod.ProductSellerId" />
            <input type="hidden" asp-for="Prod.ProductImage" />
            <div class="form-group row justify-content-end my-3">
                <div class="col-4 text-right">
                    <button type="submit" class="btn btn-success">Save <i class="ml-1 fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/lib/tinymce/tinymce.min.js"></script>
<script>
    var selectorId = "#Prod_ProductDescription"; /*Id for WYSIWYG*/
</script>
<script src="~/lib/tinymce/fullFeatured.js"></script>
